.App {

}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  margin: 20px;
}


.App-link {
  color: #09d3ac;
}
